.bannerimg{
	width: 100%;
}
.pw{
	margin-top: 40px;
	margin-bottom: 40px;
}
.title{
	text-align: center;
}
.card{
	text-align: center;
	margin-bottom: 20px;
	-webkit-box-shadow: 3px 3px 3px 3px #787878;
box-shadow: 3px 3px 3px 3px #787878;
-webkit-border-radius: 50px 0 50px 0;
border-radius: 50px 0 50px 0;
}

.card img{
	-webkit-border-radius: 50px 0 50px 0;
border-radius: 50px 0 50px 0;
}
.ft{
	text-align: center;
	background: #000;
	color: #FFF;
	margin-bottom: 0px;
	padding: 15px;
}

.list-group{
	-webkit-box-shadow: 3px 3px 3px 3px #787878;
box-shadow: 3px 3px 3px 3px #787878;
-webkit-border-radius: 50px 0 50px 0;
border-radius: 50px 0 50px 0;
}

body{
	background: #CCC;
}
.mr{
	margin-right: 10px;
	
}

@media only screen and (max-width: 640px) {
  .mr{
  	margin-bottom: 10px;
  }
}